@font-face {
    font-family: 'Nunito Bold Italic';
    src: url('Nunito-BoldItalic.woff2') format('woff2'),
        url('Nunito-BoldItalic.woff') format('woff'),
        url('Nunito-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Nunito Bold';
    src: url('Nunito-Bold.woff2') format('woff2'),
        url('Nunito-Bold.woff') format('woff'),
        url('Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nunito Extra Bold';
    src: url('Nunito-ExtraBold.woff2') format('woff2'),
        url('Nunito-ExtraBold.woff') format('woff'),
        url('Nunito-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nunito Extra Bold Italic';
    src: url('Nunito-ExtraBoldItalic.woff2') format('woff2'),
        url('Nunito-ExtraBoldItalic.woff') format('woff'),
        url('Nunito-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Nunito Italic';
    src: url('Nunito-Italic.woff2') format('woff2'),
        url('Nunito-Italic.woff') format('woff'),
        url('Nunito-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Nunito Light';
    src: url('Nunito-Light.woff2') format('woff2'),
        url('Nunito-Light.woff') format('woff'),
        url('Nunito-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nunito Medium';
    src: url('Nunito-Medium.woff2') format('woff2'),
        url('Nunito-Medium.woff') format('woff'),
        url('Nunito-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nunito Regular';
    src: url('Nunito-Regular.woff2') format('woff2'),
        url('Nunito-Regular.woff') format('woff'),
        url('Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}