html {
  scroll-snap-type: y mandatory;
}
section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
body {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c4c4f7;
  overflow-x: hidden;
}
.frame {
  width: 400px;
  height: 400px;
  background: #c4c4f7;
}
.center {
  perspective: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.ball {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: ball 20s ease-in-out infinite;
}
.ball .plane { 
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
.ball .plane-1 {
  transform: rotateX(30deg);
}
.ball .plane-2 {
  transform: rotateX(60deg);
}
.ball .plane-3 {
  transform: rotateX(90deg);
}
.ball .plane-4 {
  transform: rotateX(120deg);
}
.ball .plane-5 {
  transform: rotateX(150deg);
}
.ball .plane-6 {
  transform: rotateX(180deg);
}
@keyframes ball {
  0% {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
 }
  25% {
    transform: rotateY(45deg) rotateX(180deg) rotateZ(20deg);
 }
  50% {
    transform: rotateY(225deg) rotateX(0deg) rotateZ(90deg);
 }
  75% {
    transform: rotateY(0deg) rotateX(45deg) rotateZ(120deg);
 }
  100% {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
 }
}
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');
#container {
	position: absolute;
	margin: auto;
	width: 100vw;
	height: 80pt;
	top: 50%;
  right: 0;
	filter: url(#threshold) blur(0.6px);
}
#text1, #text2 {
	position: absolute;
	width: 100%;
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 80pt;
	text-align: center;
	user-select: none;
}



.card {
  background-color: rgba(255, 255, 255, 0.5);
  width: 300px;
  border-radius: 20px;
  padding-bottom: 20px;
  transition: all .2s ease-in-out;
}

.card:hover { 
  transform: scale(1.05); 
}